<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title data-i18n="login.title">로그인</title>
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link rel="stylesheet" href="/resources/css/login.css">
</head>
<body>
    <div th:replace="common/header :: header"></div>

    <div class="login-page-wrapper">
        <div class="login-container">
            <h1 data-i18n="login.brand">HealnGo</h1>
            <p data-i18n="login.subtitle">간편하게 로그인하고 서비스를 이용하세요</p>

            <!-- 카카오 로그인 -->
            <a href="${kakaoLoginUrl}" id="kakao-login-btn" class="login-btn kakao-btn">
                <img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" alt="Kakao" class="kakao-icon" />
                <span data-i18n="login.kakao.button">카카오로 로그인</span>
            </a>

            <!-- 구글 로그인 -->
            <a href="${googleLoginUrl}" id="google-login-btn" class="login-btn google-btn">
                <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" class="google-icon" />
                <span data-i18n="login.google.button">구글로 로그인</span>
            </a>
        </div>
    </div>

    <!-- 공통 JavaScript -->
    <script src="/resources/js/i18n.js"></script>
    <!-- Login 전용 JavaScript -->
    <script src="/resources/js/login.js"></script>
    
        <!-- 푸터 -->
    <div th:replace="common/footer :: footer"></div>
</body>
</html>
