<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.ApiRound.mapper.TourPackageMapper">

    <!-- 패키지 전체 조회 -->
    <select id="getAllPackages" resultType="com.example.ApiRound.dto.TourPackageDto">
        select
        package_id,
        name,
        description,
        category,
        region,
        image_path,
        is_recommended,
        created_at,
        updated_at
        from tour_package
    </select>

    <!-- 패키지 단건 조회 -->
    <select id="getPackageById" parameterType="long" resultType="com.example.ApiRound.dto.TourPackageDto">
        select
        package_id,
        name,
        description,
        category,
        region,
        image_path,
        is_recommended,
        created_at,
        updated_at
        from tour_package
        where package_id = #{id}
    </select>

    <!-- 특정 패키지의 아이템 리스트 -->
    <select id="getItemsByPackageId" parameterType="long" resultType="com.example.ApiRound.dto.TourPackageItemDto">
        select
        id,
        package_id,
        item_id,
        sequence_no
        from tour_package_item
        where package_id = #{packageId}
        order by sequence_no
    </select>

</mapper>
